
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Register{
    background-color: #ffcc19;
    width: 460px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 5%;

}

#Register p{
    font-size: 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Register input{

    font-size: 10px;
    border-radius: 10px;
    padding: 15px 10px;
    width: 100%;
    }

    #Register button{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 40%;
    border-radius: 10px;
    background-color: black;
    color: #ffcc19;
    transition: 1s
    
    }

    #Register button:hover{
        color: black;
        background-color: white;
    }







