.detail-container {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #fff;
  padding-left: 150px;
}
.detail-container .intro-text-container {
  display: flex;
  align-items: center;
}
.detail-container .intro-text-container span {
  color: #929292;
  font-weight: 400;
  font-family: Catamaran;
  font-size: 18px;
}
.detail-container .intro-text-container a {
  font-family: Catamaran;
  color: #929292;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s ease-out;
}
.detail-container .intro-text-container a:hover {
  color: #080808;
}

.product-section {
  padding: 50px 150px;
}
.product-section .main-product-section {
  display: grid;
  grid-template-columns: 100px 2fr 2fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.product-section .main-product-section .img-column {
  display: grid;
  row-gap: 10px;
}
.product-section .main-product-section .img-column img{
  object-fit: cover;
}
.product-section .main-product-section .info-column {
  margin-left: 50px;
}
.product-section .main-product-section .info-column .header-info-column {
  display: flex;
  flex-direction: column;
}
.product-section .main-product-section .info-column .header-info-column h3 {
  color: #080808;
  font-size: 24px;
  font-family: Catamaran;
}
.product-section .main-product-section .info-column .header-info-column p {
  font-size: 22px;
  font-family: Catamaran;
  font-weight: light;
}
.product-section .main-product-section .info-column .description-info .link {
  margin-top: 80px;
}
.product-section .main-product-section .info-column .description-info .link a {
  font-family: Catamaran;
  font-size: 15px;
  color: #929292;
  text-decoration: none;
  text-transform: uppercase;
}
.product-section .main-product-section .info-column .description-info .link .fa-star {
  color: rgb(235, 188, 0);
  font-size: 12px;
}
.product-section .main-product-section .info-column .description-info .link .text-description {
  margin-top: 20px;
  color: #929292;
  text-align: justify;
  font-family: Catamaran;
}
.product-section .main-product-section .info-column .description-info .link .text-description p{
  font-size: 16px;
}
.product-section .main-product-section .info-column .add-form {
  padding: 10px;
  border: 1px solid #929292;
  width: 70%;
}
.mkd-quantity-label{
  font-size: 16px;
}
.product-section .main-product-section .info-column .add-form input {
  width: 30px;
  margin-left: 50px;
  font-size: 16px;
}
.product-section .main-product-section .info-column .add-form button{
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.form-right{
  background-color: black;
  padding: 10px;
}
.form-right:hover{
  background-color: #323232;
}
.product-section .main-product-section .info-column .add-form .cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-section .full-image-column {
  position: relative;
}
.product-section .full-image-column span {
  font-size: 12px;
  font-family: montserrat;
  position: absolute;
  padding: 15px 30px;
  letter-spacing: 1px;
  color: #080808;
  text-transform: uppercase;
}
.product-section .share-product-container {
  margin-top: 40px;
}
.product-section .share-product-container a {
  position: relative;
  text-decoration: none;
  font-family: catamaran;
  font-size: 16px;
  color: #080808;
  font-weight: 400;
}
.product-section .share-product-container a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 100%;
}
.product-section .location-link-info-column {
  margin-top: 50px;
}
.product-section .location-link-info-column p {
  font-size: 16px;
  font-family: Catamaran;
  color: black;
}
.product-section .location-link-info-column p a {
  text-decoration: none;
  font-family: Catamaran;
  color: #929292;
  transition: 0.3s all ease-out;
}
.product-section .location-link-info-column p a:hover {
  color: #080808;
}
.product-section .location-link-info-column p span {
  font-size: 16px;
  font-family: Catamaran;
}

.tab-container {
  padding: 60px 0px;
  border-bottom: 1px solid #d3d3d3;
}
.btn-container .active{
  background-color: black !important;
  color: white !important;
}
.show{
  display: block !important;
}
.tab-panel{
  display: none;
}
.tab-container .btn-container {
  width: 100%;
  margin-bottom: 18px;
  padding-left: 150px;
}
.tab-container .btn-container a {
  border: 1px solid #929292;
  padding: 18px 40px;
  text-decoration: none;
  font-family: Catamaran;
  color: #323232;
  background-color: #fafafa;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
   cursor: pointer;
}
.tab-container .tab-description-panel {
  width: 100%;
  height: 250px;
  border-top: 1px solid #e1e1e1;
  padding-left: 150px;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  padding-top: 60px;
}
.tab-container .tab-description-panel h2 {
  font-family: Catamaran;
  font-size: 16px;
}
.tab-container .tab-description-panel p {
  position: absolute;
  left: 0;
  padding: 30px 150px;
  text-align: justify;
  font-family: Catamaran;
  font-size: 16px;
  color: #929292;
}
.tab-container .tab-info-panel {
  padding: 60px 150px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  height: 300px;
}
.tab-container .tab-info-panel h2 {
  font-family: Catamaran;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}
.tab-container .tab-info-panel .info-tabel {
  margin-top: 30px;
  letter-spacing: 0.013em;
  font-size: 16px;
  font-family: Catamaran;
  color: #929292;
}
.tab-container .tab-info-panel .info-tabel th {
  font-size: 16px;
  font-family: Catamaran;
  padding: 0px 10px;
}
.tab-container .tab-info-panel .info-tabel td{
  font-size: 16px;
}
.tab-container .tab-review-panel h2 {
  margin-top: 80px;
  letter-spacing: 0.1em;
  font-size: 16px;
  font-family: Catamaran;
  padding-left: 150px;
}
.tab-container .tab-review-panel .personal-info-part {
  display: flex;
  gap: 15px;
  padding: 20px 150px;
}
.tab-container .tab-review-panel .personal-info-part .main-personal-info {
  display: grid;
  grid-template-rows: 2;
  color: #929292;
  font-size: 16px;
  font-family: Catamaran;
}
.tab-container .tab-review-panel .personal-info-part .main-personal-info span .fa-star {
  color: rgb(235, 188, 0);
  font-size: 12px;
}
.tab-container .tab-review-panel .review-part {
  padding: 0px 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tab-container .tab-review-panel .review-part .second-text-review-part {
  color: #929292;
}
.tab-container .tab-review-panel .review-part p {
  font-family: Catamaran;
  font-size: 16px;
  color: #080808;
}
.tab-container .tab-review-panel .review-part span .fa-star {
  font-size: 12px;
}
.tab-container .tab-review-panel .form-part label {
  font-family: Catamaran;
  font-size: 18px;
  color: #080808;
}
.tab-container .tab-review-panel .form-part form textarea {
  width: 630px;
  height: 170px;
  border: 1px solid #d3d3d3;}
.tab-container .tab-review-panel .form-part form .text {
  width: 630px;
  padding: 15px;
  color: #929292;
  border: 1px solid #d3d3d3;
}
.tab-container .tab-review-panel .form-part form .email {
  width: 630px;
  padding: 15px;
  color: #929292;
  border: 1px solid #d3d3d3;
}
.tab-container .tab-review-panel .form-part form .submitBtn {
  padding: 15px 50px;
  color: #fafafa;
  background-color: #080808;
  margin-top: 20px;
}